/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  body{
    padding: 20px;
    background-color: hsl(229, 20%, 89%);
  }
  .container {
    border-radius: 0.8rem;
    overflow: hidden;
    display: grid;
  }
  .perfume{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
  }
  .sub-container{
    padding: 25px;
    background-color: hsl(0, 0%, 100%);
  }
  h1{
    font-weight: 700;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .para {
    font-style: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
  }
  .price{
    position: relative;
  }
  .price-tag::after{
    content: "$169.99";
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: absolute;
    font-size: 12px;
    margin-left: 15px;
  }
  button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    height: 50px;
    border: none;
  }
  @media(min-width: 722px){
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 33em;    /* For some reason if I set the width to 100% or more the thing just blows off and become off the chart*/
    }
    body{
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .container:hover{
      transition: 1s ease-in-out;
      transform: scale(1.1);
      
    }
    button:hover{
      background-color: hsl(212, 21%, 14%);
    }
  }
